.container p {
    text-align: center;
    height: 100%;
    font-family: cinzel;

}
.Container  {
    background-color: black;
    height: 600px;
    color: white;
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/53653317-d541-48a0-8252-bc533c980e00/ddpehyt-932ccc8f-ece6-4520-b55d-f25e52c09fa9.png/v1/fill/w_1024,h_750,strp/the_moirai___greek_mythology_by_yliade_ddpehyt-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTM2NTMzMTctZDU0MS00OGEwLTgyNTItYmM1MzNjOTgwZTAwXC9kZHBlaHl0LTkzMmNjYzhmLWVjZTYtNDUyMC1iNTVkLWYyNWU1MmMwOWZhOS5wbmciLCJoZWlnaHQiOiI8PTc1MCIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzUzNjUzMzE3LWQ1NDEtNDhhMC04MjUyLWJjNTMzYzk4MGUwMFwveWxpYWRlLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.EzDV-wrnQ4XNO7u22fJGqR-oQO2SCJwgzwVBIWpkMTI);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    align-content: flex-end;
    
   
}
ul {
    list-style-type: none;
}

a {
    color: aquamarine;
}

